---
import HeaderLink from './HeaderLink.astro'
import { HOMEPAGE_URL, SITE_TITLE } from '../config'
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <h2 class="font-semibold tracking-tighter p-2 font-sono text-lg">
        Luis Lucas
      </h2>
    </nav>
  </div>
  <nav>
    <HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
    <HeaderLink href="https://github.com/withastro/astro" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
